body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
    border: 1px solid #dadada;
}
button{
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
}
.main{
    box-shadow: 1px 1px 4px #dadada;
    border-radius: 10px;
    padding: 40px;    
}
#radioBox  label  {
    display: flex !important;
    font-size: 15px;
    margin: 0px;
    font-weight: 300;
    
}